@model Blog.Models.PostViewModel
@{
    var post = Model;
}

<h2>@post.title</h2>
<p>@post.created</p>

@Html.Raw(post.body)
<br />
@Html.ActionLink("volver a los posts", "Index", null, new { @class = "pure-button pure-button-primary" })
